html{
    
    background-color: white;
    padding-top: 20px;
     text-align: center;
  

}

body {
    background-color: silver;
    font-family: sans-serif;
    min-width: 260px;
    margin-bottom: 20px;
    padding-bottom: 50px;
   
}

#main{
    padding-top: 15px;
    background-color:silver;
    line-height: 30.5px;
   
   
}

#img-div{
    background-color: white;
    margin-left: 10px;
   margin-right: 10px;
  
}

#image{
    max-width: 100%;
    display: block;
    height: auto;
  margin: auto;
}



#img-caption{
 max-width:900px;
 margin: auto;
}

#tribute-info{
    text-align: center;
     margin-top:0px;
     
}

ul{
    max-width: 600px;
    margin:auto;
    text-align: left;
}

/*
ul{
    max-width:600px;
    margin:0 auto;
    text-align:left;
    
}
*/

li{
  margin:5;
}

